<div class="row">
    <div class="col-md-4">
        <%= link_to 'Atras', posts_path, class: 'btn btn-dark mb-3' %>
            <div class="card" >
                <div class="card-header">
                    <h5 class="card-title mb-0">Editar Entrada</h5>
                </div>

                <div class="card-body">
                    <%= render 'form', post: @post %>

                </div>
                <div class="card-footer">
                    <% if @post.published? %>
                        <a href="#" 
                        class='btn btn-secondary btn-block' 
                        data-reflex='click->PublisherReflex#unpublish'
                        data-post-id='<%= @post.id %>'>
                        Despublicar</a>
                    <% else %>
                        <a href="#" 
                        class='btn btn-dark btn-block' 
                        data-reflex='click->PublisherReflex#publish'
                        data-post-id='<%= @post.id %>'>
                        Publicar</a>
                    <% end %>
                </div>
            </div>
    </div>
    <div class="col-md-8">
        <div class="mb-3 row g-2">
           <%= form_with(model: [@post, @element], html: { class: 'col-auto' }) do |form| %>
                <%= form.hidden_field :element_type, value: 'paragraph' %>
                <%= button_tag(type: 'submit', class: 'btn btn-secondary') do %>
                                <i class="fas fa-paragraph"></i>
                <% end %>
            <% end %>
            <%= form_with(model: [@post, @element], html: { class: 'col-auto' }) do |form| %>
                <%= form.hidden_field :element_type, value: 'image' %>
                <%= button_tag(type: 'submit', class: 'btn btn-secondary') do %>
                   <i class="fas fa-image"></i>
                <% end %>
            <% end %>
        </div>
        <div class="card mb-5">
            <div class="card-header text-end">
             <% if @post.published? %>
                <span class="badge bg-primary">Publicado</span>
                Publicado <%= time_ago_in_words(@post.published_at) %>
                <% else %>
                Despublicado
                <% end %>
            </div>
            <div class="card-body pt-5" data-controller="elements">
            <% if @post.elements.none? { |element| element.persisted? } %>
                <div class="p-4 text-center">
                    <h2 class="text-secondary">
                        <i class="fas fa-lightbulb"></i>
                    </h2>
                    <p>Click en los iconos para agregar elementos al post</p>
                </div> 
            <% else %>
                <ul id='elements' data-action="drop->elements#sort">
                    <% @post.elements.order(position: :asc).each do |element| %>
                        <% if element.persisted? %>
                            <li data-id="<%= element.id %>"  class='element-item'>
                            <% if element.paragraph? %>
                                <div class="mb-3 p-3 paragraph">
                                    <div class="paragraph-content">
                                        <% if element.content.present? %>
                                            <%= element.content %>
                                        <% else %>
                                            <p class="p-3" style="border-style: dotted; border-color:#5c636a"> Haz click para añadir contenido</p>
                                        <% end %>
                                    </div>
                                    <div class="paragraph-form d-none"  id='<%= element.id %>-form'>
                                        <%= form_with(model: [@post, element]) do |form| %>
                                            <%= form.rich_text_area :content, id: "element_content_#{element.id}" %>  
                                            <div class="mt-3 d-flex justify-content-between">
                                                <div> 
                                                <%= form.submit "Guardar",  class: 'btn btn-primary' %>
                                                <a href="#" class='cancel btn btn-secondary' > cancelar</a>
                                                </div>
                                                <%= link_to 'Borrar', post_element_path(@post, element), method: :delete, class: 'btn btn-danger', data: { confirm: "¿Estas Seguro?"} %>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                            <% elsif element.image? %>
                                <div class="mb-4 p-3 image">
                                    <%if element.image.present? %> 
                                        <%= link_to post_element_path(@post, element), method: :delete, class: 'btn btn-secondary mt-2 floar-right delete-btn', data: { confirm: "¿Estas Seguro?"} do %>
                                            <i class="fas fa-times"></i>
                                        <% end %>

                                        <div>
                                            <%= image_tag(element.image) %>

                                        </div>
                                        <% else %> 

                                            <%= form_with(model: [@post, element]) do |form| %>
                                                <%= form.file_field :image %>   
                                                    <div class="mt-3">
                                                        <%= form.submit "Guardar",  class: 'btn btn-primary' %>
                                                        <a href="#" class='cancel btn btn-secondary' > cancelar</a>

                                                    </div>
                                        <% end %>
                                    <% end %>
                                </div>
                                
                            <% end %>
                        <% end %>
                        </li>
                    <% end %>
                </ul>
               
            <% end %>
            </div>
        </div>
    </div>
</div>

