<% if current_user %>
    <p> Hola <%=  current_user.email %> </p>
    <p> Tu Perfil es:  <%=  current_user.role %></p>
    <% if current_user.editor? %>
    <%= Post.count %>
    <% end %>
        <% else %>
     <p>  No estas autenticado <p>
<% end %>


<div class="row">
    <div class="col-md-4">

        <%= link_to 'Atras', posts_path, class: 'btn btn-dark mb-3' %>

        <div class="card">
            <div class="card-header">
            <h6 class="card-title mb-0">Editar Post</h6>
            </div>
            <div class="card-body">
                <h4>Nuevo Post</h4>
                <%= render 'form', post: @post %>
            </div>
        </div>
    </div>
    <div class="col-md-8">
    <div class="card">
    <div class="card-title p-3 fw-bold">
    Nuevo Post
    </div>
    </div>
    </div>
    
</div>




