<style>
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500&family=Roboto+Condensed:wght@700&family=Roboto:wght@300&display=swap');

.container{
    background: white !important;
}
.fa {
  padding: 5px;
  font-size: 18px;
  width: 28px;
  text-align: center;
  text-decoration: none;
  margin: 0;
  border-radius: 50%;
  color: white;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
}
.fa-twitter {
  background: #55ACEE;
}
.fa-whatsapp {
  background: #25D366;
}
p {
    font-family: 'Asap', sans-serif;
}
h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
}
.descripcion{
    color: #989898 !important;
    font-family: 'Asap', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
.navbar {
    background: #E3E8E4 !important;
    padding: 3px 30px 3px 22px;
}
.navbar span {
    font-family: 'Asap', sans-serif;
    font-size: 16px;
}
.catalogo {
    padding: 3px 13px 4px 11px;
}
</style>

<div class="container">
<div>
    <p class="fs-5 fw-bold text-uppercase link-light bg-primary d-inline catalogo">
    Opinión
    </p>
</div>

<p id="notice"><%= notice %></p>

<h2 class="text-dark"> <%= @opinion.title %> </h2>

<p class='text-secondary mb-0 descripcion'> <%= @opinion.description %> </p>
</br>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1"><b>Por Autor</b> / 20/08/2019</span>
        <div>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-whatsapp"></a>
        </div>
    </nav>
</br>
<p>
  <%= @opinion.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @opinion.image %>
</p>
<div>
  <img src="<%= @opinion.image %>">
</div>

<%= link_to 'Edit', edit_opinion_path(@opinion) %> |
<%= link_to 'Back', opinions_path %>

</div>
