<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @magazine.name %>
</p>

<p>
  <strong>Month:</strong>
  <%= @magazine.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @magazine.year %>
</p>

<%= link_to 'Edit', edit_magazine_path(@magazine) %> |
<%= link_to 'Back', magazines_path %>
